<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="posts" style="color: white">
<!--      <img src="assets/delivery.png" class="logo">-->
      Deliverable
    </a>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <mat-chip-list *ngIf="!isLoggedIn()">
        <a routerLink="/auth/register">
          <mat-chip color="accent" selected>
            Register
          </mat-chip>
        </a>
        <a routerLink="/auth/login">
          <mat-chip>
            Log in
          </mat-chip>
        </a>
      </mat-chip-list>

      <mat-chip-list *ngIf="isLoggedIn()">
        <a (click)="openCreatPostDialog()">
          <mat-chip color="accent" selected>
            Create post
          </mat-chip>
        </a>
        <p style="margin: 0">{{name()}}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </mat-chip-list>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
