<app-header></app-header>
<router-outlet></router-outlet>
<!--<form>-->
<!--  <div class="form-group">-->
<!--    <label for="name">Name</label>-->
<!--    <input-->
<!--      [formControl]="id"-->
<!--      type="text"-->
<!--      class="form-control">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="file">File</label>-->
<!--    <input-->
<!--      type="file"-->
<!--      multiple="multiple"-->
<!--      (change)="onFileChange($event)">-->
<!--  </div>-->
<!--  <button type="submit" (click)="submit()">Submit</button>-->
<!--</form>-->
<!--<div *ngFor="let image of images">-->
<!--  <img [src]="image">-->
<!--</div>-->
