mat-drawer {
  width: 350px;
}

mat-drawer-content {
  height: 90vh;
  padding: 10px;
}

mat-card {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  height: 230px;
}

mat-paginator {
  border: 1px solid #3f51b5;
}

.title-image {
  margin: 30px;
}

.container {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
}
