<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <mat-card *ngFor="let post of posts;">
      <div class="title-image">
        <img mat-card-xl-image [src]="images.get(post.id)" >
      </div>
      <div class="container">
        <div class="top">
          <p>{{post.isNew ? 'New' : 'Used'}}</p>
          <p>{{post.date}}</p>
        </div>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.price}} eur</mat-card-subtitle>
        <p>Year: {{post.manufacturingYear}}</p>
        <p>Mileage: {{post.mileage}}</p>
        <p></p>
        <p>Horse power: {{post.horsepower}}</p>
        <a mat-raised-button color="primary" [routerLink]="['/post', post.id]">Open</a>
      </div>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
